
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.search-box{
    padding:10px;
    margin-left: 20px;
    outline: none;
    text-align: center;
}

.search-box:focus{
    box-shadow: 0 0 10px #888888;
}